<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="footer">
      <ul class="nav nav-pills">
        <li><a id='home-footer-about' href="{% url 'about' %}">About</a></li>
        <li><a id='home-footer-faq' href="{% url 'faq' %}">FAQ</a></li>
        <li><a id='home-footer-links' href="{% url 'links' %}">Links</a></li>
        <li class='copyright pull-right text-muted'><a href='http://dbinetti.com'>&copy; 2014 David Binetti</a></li>
      </ul>
    </div>
  <div class="container">
</nav>