{# Include nav #}

      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Barberscore</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{% url 'contests' %}">
                <span class='fa fa-certificate fa-lg'></span>
                Contests
                </a>
              </li>
              <li>
                <a href="{% url 'performances' %}">
                <span class='fa fa-microphone fa-lg'></span>
                Performances
                </a>
              </li>
              <li>
                <a href="{% url 'search' %}">
                <span class='fa fa-search fa-lg'></span>
                Search
                </a>
              </li>
              <div class="visible-xs">
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'faq' %}">FAQ</a></li>
              <li><a href="{% url 'links' %}">Links</a></li>
              {# <li><a href='http://dbinetti.com'>&copy; 2014 David Binetti</a></li> #}
              </div>
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'profile' %}">
                  <span class='fa fa-cog fa-lg'></span>
                  Profile
                  </a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">
                  <span class='fa fa-sign-out fa-lg'></span>
                  Logout
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'login' %}">
                  <span class='fa fa-sign-in fa-lg'></span>
                  Login
                  </a>
                </li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
