{% extends 'base.html' %}


{% block title %}
  About Barberscore
{% endblock title %}


{% block content %}
    <div class="container">
      <div class="page-header">
        <h1>About Barberscore</h1>
      </div>
      <div>
        <p class='lead'>My name is <a href = "http://www.dbinetti.com">David Binetti</a> and I've sung with the <a href = "http://www.harmonizers.org">Alexandria Harmonizers</a> and <a href = "http://www.vihchorus.org">Voices in Harmony</a>.  I built this app because I wanted a mobile-friendly website that I could use to help track the convention performances.</p>
        <p><strong>I will not be using or sharing your personal information in any way.</strong>  I'm just a barbershopper/geek and thought it would be a cool app.</p>
        <p>Source code for this app can be found <a href = "http://www.github.com/dbinetti/barberscore">here</a>.  If you have any questions or need support open an issue there.</p>
      </div>
    </div> <!-- /container -->
{% endblock content %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer%}
