{% extends 'base.html' %}


{% block title %}
<title>
    About Barberscore
</title>
{% endblock title %}


{% block content %}
<p>
    My name is <a href = "http://www.davidbinetti.com">David Binetti</a>, I've sung with the <a href = "http://www.harmonizers.org">Harmonizers</a> and <a href = "http://www.vihchorus.org">Voices in Harmony</a>.  I will not be using or sharing your personal information in any way; I'm just a barbershopper and a geek and thought it would be cool to build something for convention.  Source code for this app can be found <a href = "http://www.github.com/dbinetti/barberscore">here</a>.  If you have any questions or need support email me at <a href='mailto:support@barberscore.zendesk.com'>support@barberscore.zendesk.com</a>.
</p>

{% endblock content %}