{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Barberscore{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convention tracker for the Barbershop Harmony Society.">
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2014, dinadesa llc">
    {# <meta name="google-site-verification" content="I0Rz6Qg8QFJcal0mdBdRE5pGiXhgJxSnkJ_fOelEzbI" /> #}

    {% block style-libraries %}
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="{% static 'barberscore/css/main.css' %}">
    {% endblock style-libraries %}

    {% block styles %}
    {% endblock styles %}
  </head>

  <body>
    {% block navbar %}
      {% include 'nav.html' %}
    {% endblock navbar %}

    {% block notification %}
      {% for message in messages %}
        <div class='container'>
          <div class="message">
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endblock notification %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block bottombar %}
    {% endblock bottombar %}

    {% block script-libraries %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="{% static 'barberscore/js/main.js' %}"></script>
    {% endblock script-libraries %}

    {% block scripts %}
    {% endblock scripts %}

    {% block analytics %}
    {% endblock analytics %}
  </body>
</html>
