{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Barberscore{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convention tracker for the Barbershop Harmony Society.">
    <meta name="keywords" content="barbershop, barbershop convention, barbershop quartet, barbershop chorus, singing, harmony">
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2014, David E. Binetti">
    <meta name="google-site-verification" content="80NiU_mxeuoizuJM0zE2wtZ2hHg8d77swC28XzuCVTI" />
    {% block style-libraries %}
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="{% static 'barberscore/css/main.css' %}">
    {% endblock style-libraries %}

    {% block styles %}
    {% endblock styles %}
  </head>

  <body>
    {% block navbar %}
      {% include '_nav.html' %}
    {% endblock navbar %}

    {% block notification %}
      {% for message in messages %}
        <div class='container'>
          <div class="message">
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endblock notification %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block bottombar %}
    {% endblock bottombar %}

    {% block script-libraries %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="{% static 'barberscore/js/main.js' %}"></script>
    {% endblock script-libraries %}

    {% block scripts %}
    {% endblock scripts %}

    {% block analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-7275592-6', 'auto');
        ga('send', 'pageview');
      </script>
    {% endblock analytics %}
  </body>
</html>
