{% extends 'base.html'%}

{% block title %}
  Frequently Asked Questions
{% endblock title %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Frequently Asked Questions</h1>
    </div>

    <div class="row">
      <div class="col-md-8">

        <h4><a href='#' data-toggle='collapse' data-target='#faq-01'>What is this site?</a></h4>
        <p id='faq-01' class='collapse'>We want a site for barbershoppers.  More text to follow.</p>

      </div><!--/col-grid-->
    </div><!-- /row-->
  </div><!-- /container -->

{% endblock content %}
