{% extends 'base.html'%}

{% block title %}
  Useful Links
{% endblock title %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Useful Links</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p class="lead">Following are some useful links.</p>
        <ul class="list-unstyled">
          <li><a href='http://barbershopconvention.com'>Convention Homepage</a></li>
          <li><a href='http://www.harmonize.ws/harmonetreporter/scores/scormain.htm'>Historical Contest Scores</a></li>
        </ul>
      </div><!--/col-grid-->
    </div><!-- /row-->
  </div><!-- /container -->

{% endblock content %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer%}
