{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<p>
Navigate using the top menu or via the links below.
To return to this screen, click "Barberscore" in the upper left hand corner.
</p>
<p>
To see a list of performances by contest, click below:<br>
<a href="{% url 'contest' 'quartet' 'quarters' %}">Quartet Quarters</a><br>
<a href="{% url 'contest' 'quartet' 'semis' %}">Quartet Semis</a><br>
<a href="{% url 'contest' 'quartet' 'finals' %}">Quartet Finals</a><br>
<a href="{% url 'contest' 'chorus' 'finals' %}">Chorus Finals</a><br>
<a href="{% url 'contest' 'collegiate' 'finals' %}">Collegiate Finals</a><br>
</p>
<p>
To see a list of all contestants, click below:<br>
<a href="{% url 'contestants' %}">All Contestants</a><br>
</p>
<p>
    To see your ratings, click below:<br>
    <a href="{% url 'ratings' %}">All Ratings</a><br>
</p>
<p>
    To add your name to your profile, click below:<br>
    <a href="{% url 'profile' %}">Profile</a><br>

{% else %}
Welcome to Barberscore, a simple way to track peformances during convention.<br>
Description<br>
<a href="{% url 'noncense_request' %}">Login Now</a>
{% endif %}
{% endblock content %}