{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block title %}
<title>
    Ratings
</title>
{% endblock title %}

{% block content %}
<p>
Following are your ratings of performances.  Click on a performance to
edit your rating.
</p>
<p>
<strong>Note that you will not be able to revise or enter ratings once the results are announced.</strong>
</p>
{% render_table table %}
<p>
    To enter more ratings, see the list of performances below:<br>

</p>


{% endblock content %}