{% extends 'base.html' %}

{% block title %}
<title>
    Enter Rating for {{performance.contestant.name}}
</title>
{% endblock title %}


{% block content %}
{{performance.contest.get_contest_type_display}} {{performance.get_contest_round_display}}<br>
Contestant #{{performance.slot}}<br>
<a href="{% url 'contestant' performance.contestant.slug %}">{{performance.contestant.name}}</a><br><br>
<form action = "{% url 'rating' rating.performance.slug %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <input type="submit" value="Save and Next">
</form>

{% endblock content %}