*.backup
*.css
*.csv
*.DS_Store
*.log
*.pot
*.pyc
*.rdb
*.xlsx
.cache/
.cache/v/cache/lastfailed
.coverage
.env
.pytest_cache/*
.venv/*
api.json
config/database.yml
dump.json
htmlcov/*
project/mediafiles/*
project/staticfiles/*
