*.log
*.pot
*.pyc
*.DS_Store
.cache/

.coverage

htmlcov/*

project/mediafiles/*
project/staticfiles/*
api.json

*.rdb

*.css

.cache/v/cache/lastfailed
*.csv

dump.json
*.xlsx
.env
.venv/*
*.backup
config/database.yml
.pytest_cache/*
