[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"auth0-python" = "*"
cloudinary = "*"
coreapi = "*"
cryptography = "==1.9.0"
dj-database-url = "*"
django-cors-headers = "*"
django-filter = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-model-utils = "*"
django-rq = "*"
django-timezone-field = "*"
django = "==1.11.9"
djangorestframework-csv = "*"
djangorestframework-jsonapi = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
drf-fsm-transitions = "*"
dry-rest-permissions = "*"
markdown = "*"
mysqlclient = "*"
openpyxl = "*"
pillow = "*"
"psycopg2" = "*"
python-dateutil = "*"
python-pdf = "*"
pytz = "*"
ranking = "*"
requests = "*"
rq = "*"
whitenoise = "*"
django-fsm-log = {git = "git://github.com/barberscore/django-fsm-log.git"}
bugsnag = "*"
pytest = "*"
pytest-django = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
"autopep8" = "*"
factory-boy = "*"
faker = "*"
django-debug-toolbar = "*"
ipython = "*"
isort = "*"
graphviz = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_full_version = "3.6.4"
