[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"auth0-python" = "*"
"django-sendgrid-v5" = "*"
"psycopg2-binary" = "*"
algoliasearch-django = "*"
brotli = "*"
cloudinary = "*"
coreapi = "*"
cryptography = "*"
dj-database-url = "*"
django = "*"
django-cloudinary-storage = "*"
django-filter = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-fsm-log = {git = "https://github.com/barberscore/django-fsm-log.git"}
django-model-utils = "*"
django-redis = "*"
django-rq = "*"
django-timezone-field = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
djangorestframework-jwt = "*"
dry-rest-permissions = "*"
gunicorn = "*"
heroku = "*"
ipython = "==6.5.0"
mysqlclient = "*"
openpyxl = "*"
pillow = "*"
pydf = {git = "https://github.com/barberscore/pydf.git"}
python-pdf = "*"
redis = "==3.0.1"
requests = "*"
rq = "*"
whitenoise = "*"
maya = "*"
"pypdf2" = "*"
sentry-sdk = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
django-reversion = "*"

[dev-packages]
"autopep8" = "*"
django-debug-toolbar = "*"
django-querycount = "*"
factory-boy = "*"
faker = "*"
graphviz = "*"
isort = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
