[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"auth0-python" = "*"
"django-sendgrid-v5" = "*"
"psycopg2-binary" = "*"
algoliasearch-django = "*"
brotli = "*"
cloudinary = "*"
cryptography = "*"
dj-database-url = "*"
django = "*"
django-cloudinary-storage = "*"
django-cors-headers = "*"
django-filter = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-fsm-log = {git = "https://github.com/barberscore/django-fsm-log.git"}
# django-fsm-log = {editable = true,path = "./../django-fsm-log"}
django-model-utils = "*"
django-phonenumber-field = "*"
django-redis = "*"
django-reversion = "*"
django-rq = "*"
django-timezone-field = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
djangorestframework-jwt = {git = "https://github.com/barberscore/django-rest-framework-jwt.git"}
# djangorestframework-jwt = {editable = true,path = "./../django-rest-framework-jwt"}
dry-rest-permissions = "*"
gunicorn = "*"
ipython = "*"
maya = "*"
mysqlclient = "*"
openpyxl = "*"
phonenumberslite = "*"
pillow = "*"
python-docx = "*"
python-pdf = "*"
redis = "*"
requests = "*"
rq = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]
"autopep8" = "*"
django-debug-toolbar = "*"
django-querycount = "*"
factory-boy = "*"
faker = "*"
graphviz = "*"
isort = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
