{% extends 'base.html' %}


{% block title %}
    Contestant
{% endblock title %}


{% block content %}
    <div class="container">
    <p>
      {% if contestant.picture %}
        <img src='{{contestant.picture.url}}' class='img-responsive img-thumbnail'>
      {% else %}
        No Image Available
      {% endif %}
    </p>
    <p>{{contestant.name}}, {{contestant.district}}</p>
    {% if contestant.get_contestant_type_display == 'Quartet' %}
    <ul class='list-unstyled list-inline'>
      <li>Tenor: {{contestant.tenor}}</li>
      <li>Lead: {{contestant.lead}}</li>
      <li>Bari: {{contestant.baritone}}</li>
      <li>Bass: {{contestant.bass}}</li>
    </ul>
    {% else %}
    <p>Director: {{contestant.director}}</p>
    {% endif %}
    <p>{{contestant.blurb|linebreaks}}</p>
    <p>{{contestant.website|urlize}}</p>
    <p>{{contestant.facebook|urlize}}</p>
    <p>{{contestant.phone}}</p>
    <p>Prelim Score: {{contestant.prelim}}</p>
    </div> <!-- /container -->

{% endblock content %}