{% extends 'base.html' %}


{% block title %}
    Contest
{% endblock title %}


{% block content %}
    <div class="container">
    <p>{{contest}}</p>
    {% regroup contest.performances.all by get_contest_round_display as performance_list %}
    <ul class='list-unstyled'>
    {% for contest_round in performance_list %}
    {{contest_round.grouper}}
    {% for item in contest_round.list %}
      <li>{{item}}</li>
    {% endfor %}
    {% endfor %}
    </ul>
    </div> <!-- /container -->

{% endblock content %}