{% extends 'base.html' %}


{% block title %}
    {{contestant}}
{% endblock title %}


{% block content %}
  <div class="container">
    {# <div class="page-header"> #}

    {# </div> #}
    <div>
      {% if contestant.picture %}
        <img src='{{contestant.picture.url}}' class='img-responsive img-thumbnail'><br><br>
      {% else %}
        <p>No Image Available</p>
      {% endif %}
      <h2>{{contestant}}  ({{contestant.district}})</h2>
      <p class='lead'>Prelim Score: {{contestant.prelim}} Ranked {{contestant.rank}}</p>
      <p>Next Performance: {{contestant.next_performance.stagetime|date:'D, F jS, g:i e'}}</p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <a data-toggle="collapse" data-parent="#accordion" href="#aboutContestant">
              About
            </a>
          </h4>
        </div>
        <div id="aboutContestant" class="panel-collapse collapse out">
          <div class="panel-body">
            {% if contestant.get_contestant_type_display == 'Quartet' %}
              <ul class='list-unstyled list-inline'>
                <li>Tenor: {{contestant.tenor}}</li>
                <li>Lead: {{contestant.lead}}</li>
                <li>Bari: {{contestant.baritone}}</li>
                <li>Bass: {{contestant.bass}}</li>
              </ul>
            {% else %}
              <p>Director: {{contestant.director}}</p>
            {% endif %}
            <p>{{contestant.blurb|linebreaks}}</p>
            <ul class='list-unstyled list-inline'>
              {% if contestant.website %}<li><a href='{{contestant.website}}'>Website</a></li>{% endif %}
              {% if contestant.facebook %}<li><a href='{{contestant.facebook}}'>Facebook</a></li>{% endif %}
              {% if contestant.twitter %}<li>{{contestant.twitter}}</li>{% endif %}
              {% if contestant.phone %}<li>{{contestant.phone}}</li>{% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% for performance in performances %}
        {% if performance.song1 %}
          <table class='table'>
            <tr>
              <th>{{performance.get_contest_round_display}}</th>
            </tr>
            <tr>
              <td>{{performance.song1}}<br>{{performance.song2}}</td>
            </tr>
          </table>
        {% endif %}
      {% endfor %}

      {% if user.is_authenticated %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class='panel-title'>
              <a data-toggle="collapse" data-parent="#accordion" href="#contestantNotes">
                Notes
              </a>
            </h4>
          </div>
          <div id="contestantNotes" class="panel-collapse collapse out">
            <div class="panel-body">
              <form action='' method='post'>
                {% csrf_token %}
                {{form.contestant}}
                {{form.profile}}
                {{form.note}}
                <input role='button' class='btn btn-lg btn-success' type='submit' name='submit' value='submit'>
              </form>
            </div>
          </div>
        </div>
      {% else %}
        <p><a href='{% url "login" %}'>Login</a> to save notes about this performer.</p>
      {% endif %}

      {% if prev %}
        <div class="pull-left">
          <a class="btn btn-primary" href="{% url 'contestant' prev.slug %}" role="button">Previous</a>
        </div>
      {% endif %}
      {% if next %}
        <div class="pull-right">
          <a class="btn btn-primary" href="{% url 'contestant' next.slug %}" role="button">Next</a>
        </div>
      {% endif %}
      <br><br>

    </div>
  </div> <!-- /container -->
{% endblock content %}