{% extends 'base.html' %}


{% block title %}
    Update Profile
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Profile</h1>
    </div>
    <div class="row">
      <div class='col-md-6'>
        <p class='lead'>Update your profile preferences here.</p>
        <p>Add your name/nickname here.  If you choose a timezone, the performance stagetimes will be presented in that timezone.  Otherwise, they will appear in the localtime of the contest (US/Pacific).</p>
        <form action = "{% url 'profile' %}" method="post">
          {% csrf_token %}
          {{form.nickname}}
          {{form.timezone}}
          <button class='btn-lg btn-success'>Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}