{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Search</h1>
    </div>
    <div>
      <div class="row">
        <div class='col-md-8'>
        <p class='lead'>Search for contestant names, members, locations and more.</p>
          <form role='form' method="get" action="." class='form-search form-inline'>
            <div class="form-group">
              {{ form.q }}
            </div>
            <input type='submit' class='btn btn-lg btn-primary' role='button' name='submit' value='Search'>
            {% if query %}
              <h3>Results</h3>
              <ul class='list-unstyled'>
                {% for result in page.object_list %}
                  <li>
                    <br>
                    <h4><a href="{{ result.object.get_absolute_url }}">{{result.object.name}}</a></h4>
                    <small class='text-muted'>{{result.object.district}} {{result.object.location}}</small>
                    <p>{{result.object.blurb|truncatewords:30}}</p>
                  </li>
                {% empty %}
                  <p class='lead'>No results found.</p>
                {% endfor %}
              </ul>
              {% if page.has_previous or page.has_next %}
                <div>
                  {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a>
                  {% endif %}
                  {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a>
                  {% endif %}
                </div>
              {% endif %}
            {% else %}

            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}