{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Register
{% endblock title %}

{% block navbar %}
{# Remove login link to avoid confusion #}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id='nav-home' class="navbar-brand" href="{% url 'website:home' %}">Dinadesa</a>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class='container'>
    <div class='page-header'>
      <h1>Confirm Account Information</h1>
    </div>
    <div class='row'>
      <div class='col-md-6'>
      {% comment %}
        <p class='lead'>
          Please update your account information.
        </p>
        {% endcomment %}
        <form id='onboard-form' role='form' class='form' action='' method='POST' novalidate>
          {% csrf_token %}
          <div class='form-group'>
            {{form.full_name}}
          </div>
          <div class='form-group'>
            {{form.mobile}}
          </div>
          <button type='submit' class='btn btn-lg btn-primary'>Submit</button>
        </form>
        {% comment %}
        <div class='help-link'>
          <a id='why-mobile-help-link' data-toggle="modal" data-target="#myModal" href="javascript://">Why do you need my mobile?</a>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Why Do You Need My Mobile?</h4>
                </div>
                <div class="modal-body">
                  <p>
                    We believe that delivering your Family Photo-a-Day via text is a simpler, more personal experience than email.  <strong>We do not, and will not, use your mobile for any purpose other than delivering our service.</strong>  Your number remains completely private and is not shared in any way.
                  </p>
                  <p>
                    There is something very special about receiving these messages quickly right on your phone and if you're willing to give us a try you'll see what we mean.  If you don't like it, just cancel and you'll never hear from us again.
                  </p>
                  <p>
                    If you have any questions, or require any help to walk you through this process, please don't hesitate to call us at 415.659.9866.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block bottombar %}
{% endblock bottombar %}

{% block scripts %}
    <script src="{% static 'js/jquery.caret.js' %}"></script>
    <script src="{% static 'js/jquery.mobilePhoneNumber.js' %}"></script>
    <script>
      $('input.phone-num').mobilePhoneNumber({
        allowPhoneWithoutPrefix: '+1'
      });
    </script>
{% endblock scripts %}

{% block mixpanel %}
  {{block.super}}
  <script>
    mixpanel.track_links(
      '#why-mobile-help-link',
      "Help",
      {"Name": "Why Mobile", "Action": "Clicked"}
    );
    mixpanel.track_forms(
      '#onboard-form',
      'Page',
      {"Name": "Onboard", "Action": "Clicked"}
    );
  </script>
{% endblock mixpanel %}