{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Welcome!
{% endblock title %}

{% block navbar %}
{# Remove login link to avoid confusion #}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id='nav-home' class="navbar-brand" href="{% url 'home' %}">Dinadesa</a>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class='container'>
    <div class='page-header'>
      <h1>Select Provider:</h1>
    </div>
    <div class='add-block'>
      <div class="row">
        <div class='col-md-8'>
        {% comment %}
          <p class="lead">
          Select your cloud photo provider:
          </p>
          {% endcomment %}
        </div>
      </div>
      <div class="row">
        <div class='col-md-8'>
          <ul class='list-inline'>
            <li>
                <a id='add-dropbox' href='{% url "dropbox-auth-start" %}' role='button' class='btn btn-lg btn-primary'><span class='fa fa-fw fa-dropbox fa-lg'></span>&nbsp; Dropbox</a>
            </li>
            <li>
                <a id='add-flickr' href='{% url "flickr-auth-start" %}' role='button' class='btn btn-lg btn-primary'><span class='fa fa-fw fa-flickr fa-lg'></span>&nbsp; Flickr</a>
            </li>
            <li>
              <a id='add-google' href='{% url "google-auth-start" %}' role='button' class='btn btn-lg btn-primary'><span class='fa fa-google fa-lg'> </span>  Google</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %}
    <div class='help-link'>
      <a id='add-source-help-link' data-toggle="modal" data-target="#add-source-modal" href="javascript://">What happens when I click?</a>
      <div class="modal fade" id="add-source-modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">What Happens When You Click</h4>
            </div>
            <div class="modal-body">
                <p>
                  When you click the button, you'll be directed to your cloud provider to give us permission to work on your photos.  Here are the steps:
                </p>
                <ul>
                  <li>First, you'll be directed to a login screen for your provider.  Sign in with your credentials for that service.  (If you are already signed in this step might be skipped automatically.)</li>
                  <li>Next, grant permission to access your photos.  We only ask for the permissions we need to provide our service.</li>
                  <li>Finally, you'll be redirected back to our website and the process is complete.</li>
                </ul>
                <p>
                  Remember: we don't touch your original photographs, and we only focus on family-photos suitable for grandparents.  <strong>We don't access any other files, and we ignore all other photos.</strong>
                </p>
                <p>
                  If you have any questions, or require any help to walk you through this process, please don't hesitate to call us at 415.659.9866.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='help-link'>
      <a id='request-source-help-link' data-toggle="modal" data-target="#request-source-modal" href="javascript://">What if I don't use Dropbox, Flickr or Google?</a>
      <div class="modal fade" id="request-source-modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">What if I don't use Dropbox, Flickr or Google?</h4>
            </div>
            <div class='modal-body'>
              <p class='add-form'>
                Currently we only support Dropbox, Flickr and Google as photo sources.  However, we are working hard to add support for iCloud and other photo backup providers.  {# Give us your email and we'll let you know as soon as other services become available. #}
              </p>
              {% comment %}
              <br>
                <form role='form' class='form' action='' method='POST'>
                {% csrf_token %}
                  {# <div class='form-group'> #}
                    {{form.email}}
                  {# </div> #}
                  <button class='btn btn-lg btn-primary add-form' type='submit'>Submit</button>
                </form>
                <br>
              <p>
                Note:  This is <strong>not a newsletter</strong>.  We'll only send a single email when we add a new service.  No spam!
              </p>
              {% endcomment %}
              {% comment %}
              <ul class='list-inline'>
                <li>
                    <a id='add-icloud' href='{% url "icloud-auth-start" %}' role='button' class='btn btn-lg btn-info'><span class='fa fa-apple fa-lg'> </span> Request iCloud Support</a>
                </li>
                <li>
                    <a id='add-google' href='{% url "google-auth-start" %}' role='button' class='btn btn-lg btn-info'><span class='fa fa-google fa-lg'> </span> Request Google Support</a>
                </li>
                <li>
                  <a id='add-other' href='{% url "source-create" %}' role='button' class='btn btn-lg btn-info'><span class='fa fa-picture-o fa-lg'> </span> Request Other Photo Service</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
      <a id='reg-faq-toggle' href='javascript://' data-toggle='collapse' data-target='#register-faq'>See Frequently Asked Questions</a><br><br>
      <div id='register-faq' class='collapse'>
        <h4><a id='reg-about-toggle' href='javascript://' data-toggle='collapse' data-target='#register-about'>What's this all about?</a></h4>

          <div id='register-about' class='collapse'>
          <p class='lead'>
            My name is Dave and I created Dinadesa because I want people to spend more time enjoying their photos and less time managing them.
          </p>

          <p class='static-content'>
            I have two young daughters, and with smartphones and digital cameras I simply took too many pictures.  When time came to organize them I never did because the task was overwhelming.  So they just sat there on my computer, gathering digital dust, and enjoyed by no one.
          </p>

          <p class='static-content'>
            Sure, I'd send photos to my parents occassionally, but never enough to keep my mom happy (nor my mother-in-law, for that matter) both of whom have an insatiable desire for pictures of the grandkids.  What I wanted was something to pick and send great pictures straight to me and my family on a regular basis without me having to think about it.  So I built that.
          </p>

          <p class='static-content'>
            It is as simple as can be.  Just connect to your cloud photo library (we currently support Dropbox, Flickr, and Google Drive) and that's it.  Our system scans for family photos (usually ones that include the kids), our team conducts a quality review ("Is this picture appropriate for grandma?") and then sends it to you and those you wish via text message.  That's it!
          </p>

          <p class='static-content'>
            This is not (yet another) photo sharing site.  It's not about scrolling through thousands of duplicates or irrelevant shots or posting to your entire social network.  It's simply about bringing a smile to your face each day, every day.
          </p>
          <p class='static-content'>
            P.S. This makes a <strong>fabulous</strong> gift for the grandparents!
          </p>
          <br>
          </div>

        <h4><a id='faq-13-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-13'>Wait&mdash;this sounds like magic.  How do you find "great family photos" automatically?</a></h4>
        <p id='faq-13' class='collapse'>
          It's a two-step process:  first, our system does an automated pre-screen to skip all the photos you wouldn't want us to see.  (For instance, our facial recognition algorithms can spot children and if kids are in the shot then it's assumed to be family-friendly.)  Then, of the pre-screened photos, our team conducts a personalized quality review to ensure that nothing inapporpriate is sent.  (Computers are great for some things, but picking great photos is still a job for a human.)  That's it!
        </p>

        <h4><a id='faq-14-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-14'>What if I don't agree with your definition of "great"?  Do I get to approve pictures before they are sent?</a></h4>
        <p id='faq-14' class='collapse'>
          Yes, each account is set to enforce pre-approval by default.  "Pre-Approval" means that as the account owner you'll be asked to approve each selected Daily before sending.  It's easy to approve: simply reply with a single 'Y' and the photo will be instantly sent your recipients.  Or, if you prefer, you can  disable pre-approval which means that each daily will be sent automatically without any additional effort.
        </p>

        <h4><a id='faq-02-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-02'>How do you get access to my pictures?  Is it safe?</a></h4>
        <p id='faq-02' class='collapse'>
          You need to grant us permission to do so through your cloud provider (currently Dropbox, Flickr or Google Drive.)  Once permission is granted, our system is able to process your images (copies only &mdash; the originals are not touched.)  It all happens automatically, including all updates, so the service remains current even as new pictures come in with no additional effort required (although you can revoke access at any time.)
        </p>

        <h4><a id='faq-10-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-10'>What about my work photos, selfies and other irrelevant/inappropriate shots?</a></h4>
        <p id='faq-10' class='collapse'>
          Our system identifies family photos, typically ones with the kids, and ignores everything else.  Work photos, pictures of food, selfies, and other non-family shots are skipped entirely.  Of those which pass the screening, we conduct an individual quality review to ensure the best possible photos are sent.  (Easy test: if the photo isn't appropriate for grandma, then it is ignored.)
        </p>

        <h4><a id='faq-04-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-04'>What's the cost?</a></h4>
        <p id='faq-04' class='collapse'>
          The cost is $19 a month, which includes two recipients (yourself and one other.)  We also provide a free one-month trial, and you can cancel at any time.  Additional recipients are $5 per month.
        </p>

        <h4><a id='faq-11-toggle' href='javascript://' data-toggle='collapse' data-target='#faq-11'>Where did you come up with the name "Dinadesa"?</a></h4>
        <p id='faq-11' class='collapse'>
          I have two young daughters, named Sarina and Alessa, and my pet-names for them are 'Sarina-Dina' and 'Alessa-Desa'.  The company was essentially their grandparents' insatiable desire for pictures of the kids, and so I named the company after them.  BTW, it's pronounced "DEE-na DEH-sa".
        </p>
      </div>


  </div>
{% endblock content %}

{% block bottombar %}
<br><br><br><br><br><br><br>
{% endblock bottombar %}

{% block scripts %}
    <script src="{% static 'js/jquery.caret.js' %}"></script>
    <script src="{% static 'js/jquery.mobilePhoneNumber.js' %}"></script>
    <script>
      $('input.phone-num').mobilePhoneNumber({
        allowPhoneWithoutPrefix: '+1'
      });
    </script>
{% endblock scripts %}


{% block mixpanel %}
  {{block.super}}
  <script>
    mixpanel.track_links(
      '#add-dropbox',
      "Source",
      {"Name": "Dropbox", "Action": "Clicked"}
    );
    mixpanel.track_links(
      '#add-flickr',
      "Source",
      {"Name": "Flickr", "Action": "Clicked"}
    );
    mixpanel.track_links(
      '#add-google',
      "Source",
      {"Name": "Google", "Action": "Clicked"}
    );
    mixpanel.track_links(
      '#add-source-help-link',
      "Help",
      {"Name": "Connect Source", "Action": "Clicked"}
    );
    mixpanel.track_links(
      '#request-source-help-link',
      "Help",
      {"Name": "No Cloud", "Action": "Clicked"}
    );
  </script>
{% endblock mixpanel %}
