{% extends 'base.html' %}

{% block title %}
  About
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>About</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p class='lead'>
            My name is Dave and I created Dinadesa because I want people to spend more time enjoying their photos and less time managing them.
          </p>

          <p class='static-content'>
            I have two young daughters, and with smartphones and digital cameras I simply took too many pictures.  When time came to organize them I never did because the task was overwhelming.  So they just sat there on my computer, gathering digital dust, and enjoyed by no one.
          </p>

          <p class='static-content'>
            Sure, I'd send photos to my parents occassionally, but never enough to keep my mom happy (nor my mother-in-law, for that matter) both of whom have an insatiable desire for pictures of the grandkids.  What I wanted was something to pick and send great pictures straight to me and my family on a regular basis without me having to think about it.  So I built that.
          </p>

          <p class='static-content'>
            It is as simple as can be.  Just connect to your cloud photo library (we currently support Dropbox, Flickr, and Google Drive) and that's it.  Our system scans for family photos (usually ones that include the kids), our team conducts a quality review ("Is this picture appropriate for grandma?") and then sends it to you and those you wish via text message.  That's it!
          </p>

          <p class='static-content'>
            This is not (yet another) photo sharing site.  It's not about scrolling through thousands of duplicates or irrelevant shots or posting to your entire social network.  It's simply about bringing a smile to your face each day, every day.  Be sure to check out the <a href='{% url "faq" %}'>FAQ</a> if you have any other questions.
          </p>
          <br><br>
          <p class='static-content'>
            P.S. This makes a <strong>fabulous</strong> gift for the grandparents!
          </p>
      </div>
    </div>
  </div>
{% endblock content %}
