{% extends 'base.html' %}

{% block title %}
  Pricing
{% endblock title %}

{% block content %}
  <div class='container'>
    <div class='page-header'>
      <h1>Pricing</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
          <p class='static-content'>
            The cost is $19 a month which includes two recipients (yourself and one other.)  We provide a free one-month trial, and you can cancel at any time.
          </p>
          <p class='static-content'>
            We can also send to as many additional recipients as you want for just $5 per month per recipient&mdash;or sign up for annual subscriptions for a huge discount!
        </p>
          <p class='static-content'>
          This makes a fabulous gift for the grandparents!
        </p>
          <p class='static-content'>
          Have any other questions?  Give us a call at 415.659.9866.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
