{% extends 'base.html' %}

{% block title %}
  Support
{% endblock title %}

{% block content %}
  <div class="container">
    <div class='page-header'>
      <h1>Support</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class='lead'>
          We want to help &mdash; right now!
        </p>
          <p class='static-content'>
          If you're having trouble call or text us at: 415.659.9866.
        </p>
          <p class='static-content'>
          (Yes, you saw that correctly.  Telephone support is still available in 2015.  Who knew?)
        </p>
          <p class='static-content'>
          If you would prefer email then we can be reached at <a href="mailto:support@dinadesa.com">support@dinadesa.com</a>.
        </p>
      </div>
    </div>
  </div><!-- /container -->
{% endblock content %}
