{% extends 'base.html' %}

{% block title %}
  Page Forbidden
{% endblock title %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Restricted Access</h1>
    </div>

    <div class="row">
      <div class="col-md-8">

        <p class="lead">Sorry, but you don't have permission to access this page!</p>

        <p>Pages are sometimes private.  Sorry!  You can try going back or going to the <a href='{% url "home" %}'>home page</a> to start over.</p>

      </div>
    </div>
  </div><!-- /container -->

{% endblock content %}
