{% extends 'base.html' %}

{% block title %}
  Server Error
{% endblock title %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Server Error</h1>
    </div>

    <div class="row">
      <div class="col-md-8">

        <p class="lead">Sorry, there was a problem!</p>

        <p>We're sorry, but there was a bug in our website.  We've been notified and will work on a solution as soon as possible!</p>

      </div>
    </div>
  </div><!-- /container -->

{% endblock content %}
