{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Barberscore Merge Tool{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta name="description" content="Barberscore deduplication"> #}
    {# <meta name="keywords" content="none"> #}
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2015, David Binetti">
    {# <meta name="google-site-verification" content="" /> #}

    {% block style-libraries %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
    {% endblock style-libraries %}

    {% block styles %}
    {% endblock styles %}
  </head>

  {% block body %}
    <body>
  {% endblock body %}

    {% block navbar %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id='nav-home' class="navbar-brand" href="{% url 'website:home' %}">Barberscore Merge Tool</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                {# <li><a id='nav-options' href="{% url 'website:dashboard' %}"><span class='fa fa-dashboard fa-lg'></span> Dashboard</a></li> #}
                {# <li><a id='nav-options' href="{% url 'website:options-list' %}"><span class='fa fa-tasks fa-lg'></span> Projects</a></li> #}
                {# <li><a id='nav-account' href="{% url 'website:account' %}"><span class='fa fa-user fa-lg'></span> Account</a></li> #}
                {# <li><a id='nav-logout' href="{% url 'website:logout' %}"><span class='fa fa-sign-out fa-lg'></span> Logout</a></li> #}
              {% else %}
                {# <li><a id='nav-login' href="{% url 'auth:login' %}"><span class='fa fa-sign-in fa-lg'></span> Login</a></li> #}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% endblock navbar %}

    {% block notification %}
      {% for message in messages %}
        <div class='container'>
          <div class="message">
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endblock notification %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block bottombar %}
      <div class="container">
        <div class="footer">
          <ul class="nav nav-pills">
            {# <li><a id='footer-about' href="{% url 'website:about' %}">About</a></li> #}
            {# <li><a id='footer-faq' href="{% url 'website:faq' %}">FAQ</a></li> #}
            <li class='copyright pull-right text-muted'><a href='http://dbinetti.com'>&copy; 2015 David Binetti</a></li>
          </ul>
        </div>
      </div>
    {% endblock bottombar %}

    {% block script-libraries %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="{% static 'js/website.js' %}"></script>
    {% endblock script-libraries %}

    {% block scripts %}
    {% endblock scripts %}

    {% block intercom %}
    {% endblock intercom %}

    {% block mixpanel %}
      {# <script> #}
        {# {% if user.is_authenticated %}mixpanel.identify('{{request.user.mobile.as_e164}}');{% endif %} #}
      {# </script> #}
    {% endblock mixpanel %}


  </body>
</html>
