{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Dedupe Group
{% endblock title %}

{% block content %}
  <div class='container'>
    {% if collection.get_prev %}<a class='btn btn-default btn-lg' role='button' href='{% url "website:collection" collection.get_prev.id %}'>Prev</a>{% else %}<button type="button" class="btn btn-default btn-lg" disabled="disabled">Prev</button>{% endif %}
    {% if collection.get_next %}<a class='btn btn-default btn-lg' role='button'  href='{% url "website:collection" collection.get_next.id %}'>Next</a>{% else %}<button type="button" class="btn btn-default btn-lg" disabled="disabled">Next</button>{% endif %}
    <br>
    <br>
    <br>
    <table class='table'>
      <thead>
        <tr>
        {% for d in dups %}
          <th>
            <a href='{% url "website:merge" d.id.hex %}'>{{d.name}}</a>
          </th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% if collection.primitive.name == 'Group' %}
          {% for d in dups %}
            <td>
              {{d.get_kind_display}}<br>
              {{d.location}}<br>
              {{d.website}}<br>
              {{d.facebook}}<br>
              {{d.twitter}}<br>
              {{d.description}}<br>
              {% if d.picture %}}<img src='{{d.picture.url}}'>{% endif%}<br>
              {% for c in d.contestants.all %}
                {{c}}<br>
              {% endfor %}
            </td>
          {% endfor %}
        {% elif collection.primitive.name == 'Song' %}
          {% for d in dups %}
            <td>
              {% for c in d.charts.all %}
                {% for foo in c.arrangers.all%}
                  {{foo.person.name}}&nbsp;
                {% endfor %}<br>
              {% endfor %}
            </td>
          {% endfor %}
        {% elif collection.primitive.name == 'Person' %}
          {% for d in dups %}
            <td>
              {{d.website}}<br>
              {{d.facebook}}<br>
              {{d.twitter}}<br>
              {# {{d.phone}}<br> #}
              {{d.description}}<br>
              {% if d.picture %}<img src='{{d.picture.url}}'>{% endif%}<br>
              {% for s in d.quartets.all %}
                {{s.contestant}}, {{s.get_part_display}}<br>
              {% endfor %}
              {% for d in d.choruses.all %}
                {{d.contestant}}, {{s.get_part_display}}<br>
              {% endfor %}
              {% for a in d.arrangements.all %}
                {{a.chart.songs.all}}<br>
              {% endfor %}
            </td>
          {% endfor %}
        {% else %}
        <h1>There is a problem!</h1>
        {% endif %}
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <p>
      {% if collection.get_next %}<a class='btn btn-warning btn-lg pull-left' role='button'  href='{% url "website:collection" collection.get_next.id %}'>Unsure, Skip for Now</a>{% else %}<a class='btn btn-warning btn-lg' role='button'  href='{% url "website:collections" %}'>Unsure, Skip for Now</a>{% endif %}
      <a class='btn btn-primary btn-lg centerhack' role='button' href='{% url "website:flag" collection.id %}'>Flag for Later Review</a>
      <a class='btn btn-danger btn-lg pull-right' role='button' href='{% url "website:skip" collection.id %}'>These are NOT the Same</a>
    </p>
  </div>
{% endblock content %}
