{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Barberscore Merge Tool
{% endblock title %}

{% block content %}
  <div class='container'>
    <h2>
      Barberscore Merge Tool
    </h2>
    <br><br>
      <p>Instructions are a set of (very short) videos.  </p>
    <ul class='list-unstyled'>
      <li><a href='http://quick.as/wZgxI3dl9'>One</a></li>
      <li><a href='http://quick.as/dQ3XF369Q'>Two</a></li>
      <li><a href='http://quick.as/PmpvsB9D5'>Three</a></li>
      <li><a href='http://quick.as/nmwjsV5r0'>Four</a></li>

    </ul>
  <br><br>

      <p>Click on a link to get to the merge tool.</p>
    <br><br>
    <ul class='list-unstyled'>
      <li><a href='{% url "website:choruses" %}'>Duplicate Choruses</a></li>
      <li><a href='{% url "website:quartets" %}'>Duplicate Quartets</a></li>
      <li><a href='{% url "website:songs" %}'>Duplicate Songs</a></li>
      <li><a href='{% url "website:persons" %}'>Duplicate Persons</a></li>
    </ul>
  </div>
{% endblock content %}
