{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Barberscore
{% endblock title %}

{# {% block body %}<body class='lander'>{% endblock %} #}

{% comment %}
{% block navbar %}
    <nav class="navbar navbar-default transparent home-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'website:home' %}">Barberscore</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a id='nav-logout' href="{% url 'logout' %}"><span class='fa fa-sign-out fa-lg'></span> Logout</a></li>
            {% else %}
              <li><a id='nav-login' href="{% url 'login' %}"><span class='fa fa-sign-in fa-lg'></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock navbar %}
{% endcomment %}

{% block content %}
  <div class='container'>
    <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>

      {# Headline #}
      <div class='jumbotron'>
        <p>
          <h1>Tracker for the Barbershop Harmony Society Convention.</h1>
        </p>
      </div>
      <form action="{% url 'website:search' %}">
          <input name="q" value="{{request.GET.q}}">
          <input type="submit" value="Go">
        </form>
      </div>

      {# Learn More Button  #}
      {% comment %}
      <div class='learn-more mobile-fixed'>
        <a id='watch-video-button' href="//fast.wistia.net/embed/iframe/mxcjzik8ku?popover=true" class="btn btn-lg btn-success btn-block wistia-popover[height=450,playerColor=7b796a,width=800]">
            <span class='hidden-xs fa fa-lg fa-youtube-play'>&nbsp;</span>1-Minute Video
        </a>
      </div>
      {% endcomment %}

      {# Free Trial Button #}
      {% comment %}
        <div class='register-button'>
          <a id='register-link-button' href='{% url "register" %}' class='btn btn-lg btn-primary btn-block' role='button'>Free Trial!</a>
        </div>
      {% endcomment %}

      {% comment %}
      {# Intro Video #}
      <div class='intro-video'>
        <p class='home-text'>1-Minute Intro Video</p>
        <a href="//fast.wistia.net/embed/iframe/mxcjzik8ku?popover=true" class="wistia-popover[height=450,playerColor=7b796a,width=800]"><img id='home-intro-video' src="https://embed-ssl.wistia.com/deliveries/7c3ffd5430c8a44e7f0a4f17ea4be4fdf0a76080.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=350x197" alt="" /></a>
      </div>
      {% endcomment %}

      {# Signup #}
      {% comment %}
      <div class='home-signup-form'>
        <form id='home-signup' class='form' role='form' method='POST' action='' novalidate>
          {% csrf_token %}
          <div class='input-group'>
            <input type="tel" class="form-control input-lg phone-num" name='mobile' pattern="\d*" x-autocompletetype="tel" placeholder="Mobile Phone" autofocus>
              <span class='input-group-btn'>
                <button name='submit-mobile' type='submit' class='btn btn-lg btn-primary'>
                  <span class='visible-xs'>Free Trial!</span>
                  <span class='hidden-xs'>Try It Free!</span>
                </button>
              </span>
          </div>
        </form>
      </div>
      <div class='help-link'>
        <a id='home-help-link' data-toggle="modal" data-target="#myModal" href="javascript://">Why do you need my mobile?</a>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Why Do You Need My Mobile?</h4>
              </div>
              <div class="modal-body">
                <p>
                  We believe that delivering your Family Photo-a-Day via text is a simpler, more personal experience than email.  <strong>We do not, and will not, use your mobile for any purpose other than delivering our service.</strong>  Your number remains completely private and is not shared in any way.
                </p>
                <p>
                  There is something very special about receiving these messages quickly right on your phone and if you're willing to give us a try you'll see what we mean.  If you don't like it, just cancel and you'll never hear from us again.
                </p>
                <p>
                  If you have any questions, or require any help to walk you through this process, please don't hesitate to call us at 415.659.9866.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}

    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/jquery.caret.js' %}"></script>
  <script src="{% static 'js/jquery.mobilePhoneNumber.js' %}"></script>
  <script>
    $('input.phone-num').mobilePhoneNumber({
        allowPhoneWithoutPrefix: '+1'
      });
  </script>
{% endblock scripts %}

{% comment %}
{% block mixpanel %}
  {{block.super}}
  <script>
    $("#watch-video-button").on("click", function(e){
      mixpanel.track(
        "Video",
        {"Name": "Intro", "Action": "Viewed"}
      );
    });
    mixpanel.track(
      'Home',
      {"Name": "Page", "Action":  "Viewed"}
    );
    mixpanel.track_forms(
      '#free-sample-button',
      "Trial",
      {"Name": "Button", "Action": "Clicked"}
    );

  </script>
{% endblock mixpanel %}
{% endcomment %}
