{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Persons
{% endblock title %}

{% block content %}

  <table class='table table-hover '>
    <tbody>
      {% for person in persons %}
      <tr>
        <td><a href="{% url 'website:remove_person' person.id.hex %}"><span class='fa fa-trash-o' style="color:red"></span></a>&nbsp;{{person.name}}&nbsp;<a target='_blank' href="{% url 'admin:api_person_change' person.id.hex %}"><span class='fa fa-external-link'></span></a></td>
        {% for item in person.person_duplicates.all %}
        <td><a href="{% url 'website:merge_persons' item.parent.id.hex item.child.id.hex %}">{{item.child}}</a>&nbsp;<a target='_blank' href="{% url 'admin:api_person_change' item.child.id.hex %}"><span class='fa fa-external-link'></span></a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
