{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Search
{% endblock title %}


{% block content %}
  <div class="container">
    <div class='page-header'>
      <p>
        <h2>Search</h2>
      </p>
      <p class='lead'>
        Search
      </p>
    </div>
    <div>
    <form action="{% url 'website:search' %}">
        <input name="q" value="{{request.GET.q}}">
        <input type="submit" value="Go">
      </form>
    </div>


    {% if results %}
    <div>
      <ul>
        {% for result in results %}
          <li><a href='{{result.url}}'>{{result.title}}</a>   ({{result.content_type}}) - {{result.object.description}}</li>
        {% endfor %}
      <ul>
    </div>
    {% endif %}
  </div> <!-- /container -->
{% endblock content %}
