{% extends 'base.html' %}

{% block title %}
<title>
    Enter Rating for {{performance.contestant.name}}
</title>
{% endblock title %}


{% block content %}
<p>
{{performance.contest.get_contest_type_display}} {{performance.get_contest_round_display}}</P>
<p>
Contestant #{{performance.slot}},
<a href="{% url 'contestant' performance.contestant.slug %}">{{performance.contestant.name}}</a></p>
<form action = "{% url 'rating' rating.performance.slug %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <input type="submit" value="Save and Rate Next Performance">
</form>

{% endblock content %}