{% extends 'base.html' %}
{% load humanize %}
{% load bbstags %}

{% block title %}
    {{contestant}}
{% endblock title %}


{% block content %}
  <div class="container">
    {# <div class="page-header"> #}

    {# </div> #}
    <div>
      {% if contestant.picture %}
        <img src='{{contestant.picture.url}}' class='img-responsive img-thumbnail'><br><br>
      {% else %}
        <p>No Image Available</p>
      {% endif %}
      <h2>{{contestant}}  ({{contestant.get_district_display}})</h2>
      {% if contestant.place %}
        <p><span class='lead'>Scored {{contestant.grand|floatformat:1}}, {{contestant.place|ordinal}} Place</span>  <span class='text-muted'>(Prelim Score: {{contestant.prelim}} Ranked {{contestant.rank|ordinal}})</span></p>

      {% else %}
        <p><span class='lead'>Prelim Score: {{contestant.prelim}} Ranked {{contestant.rank|ordinal}}</span>  <span class='text-muted'>Next Performance: {{contestant.next_performance.stagetime|date:'D, F jS, g:i e'}}</span></p>
      {% endif %}

      {% if performances %}
        <div class="table-responsive">
          <table class='table'>
            <tr>
              <th>Round</th>
              <th>Songs</th>
              <th>MUS</th>
              <th>PRS</th>
              <th>SNG</th>
              <th>Total</th>
            </tr>
            {% for performance in performances %}
              <tr>
                <td>{{performance.get_contest_round_display}}</td>
                <td>{{performance.song1}}<br>{{performance.song2}}</td>
                <td>{{performance.mus1_rata|floatformat:1}}<br>{{performance.mus2_rata|floatformat:1}}</td>
                <td>{{performance.prs1_rata|floatformat:1}}<br>{{performance.prs2_rata|floatformat:1}}</td>
                <td>{{performance.sng1_rata|floatformat:1}}<br>{{performance.sng2_rata|floatformat:1}}</td>
                <td>{{performance.song1_rata|floatformat:1}}<br>{{performance.song2_rata|floatformat:1}}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <a data-toggle="collapse" data-parent="#accordion" href="#aboutContestant">
              About
            </a>
          </h4>
        </div>
        <div id="aboutContestant" class="panel-collapse collapse out">
          <div class="panel-body">
            {% if contestant.get_contestant_type_display == 'Quartet' %}
              <ul class='list-unstyled list-inline'>
                <li>Tenor: {{contestant.tenor}}</li>
                <li>Lead: {{contestant.lead}}</li>
                <li>Bari: {{contestant.baritone}}</li>
                <li>Bass: {{contestant.bass}}</li>
              </ul>
            {% else %}
              <p>Director: {{contestant.director}}</p>
            {% endif %}
            <p>{{contestant.blurb|linebreaks}}</p>
            <ul class='list-unstyled list-inline'>
              {% if contestant.website %}<li><a href='{{contestant.website}}'>Website</a></li>{% endif %}
              {% if contestant.facebook %}<li><a href='{{contestant.facebook}}'>Facebook</a></li>{% endif %}
              {% if contestant.twitter %}<li>{{contestant.twitter}}</li>{% endif %}
              {% if contestant.phone %}<li>{{contestant.phone}}</li>{% endif %}
            </ul>
          </div>
        </div>
      </div>

      {% if contestant.prev_contestant %}
        <div class="pull-left">
          <a class="btn btn-primary" href="{% url 'contestant' contestant.prev_contestant.slug %}" role="button">Previous</a>
        </div>
      {% endif %}
      {% if contestant.next_contestant %}
        <div id='prevnext' class="pull-right">
          <a class="btn btn-primary" href="{% url 'contestant' contestant.next_contestant.slug %}" role="button">Next</a>
        </div>
      {% endif %}
      <br><br>

    </div>
  </div> <!-- /container -->
{% endblock content %}
