{% extends 'base.html' %}

{% block title %}
  Code
{% endblock title %}

{% block navbar %}
{# Remove login link to avoid confusion #}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id='nav-home' class="navbar-brand" href="{% url 'website:home' %}">Dinadesa</a>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class='container'>
    <div class='page-header'>
      <h1>Enter Code</h1>
    </div>
    <div class='row'>
      <div class='col-md-6'>
      {% comment %}
        <p class='lead'>
          Enter the four-digit code we just texted to your phone.
        </p>
      {% endcomment %}
        <form role='form' action='{% url "code" %}' method='POST'>
          {% csrf_token %}
          {{form.mobile.as_hidden}}
          <div class='form-group add-form'>
            {{form.code}}
          </div>
          <button class='btn btn-lg btn-primary' type='submit'>Submit</button>
        </form>

        <div class='help-link'>
          <a id='add-source-help-link' data-toggle="modal" data-target="#myModal" href="javascript://">What does this mean?</a>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- Modal -->
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Enter Code Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                      Dinadesa uses a 'passwordless' authentication system.  When you login, we text a random four-digit code to your cell phone, which you enter on this screen to get into the site.
                    </p>
                    <p>
                      If you don't have access to your cell phone or require any help to walk you through this process, please don't hesitate to call us at 415.659.9866 or send a support email to <a href='mailto:support@dinadesa.com'>support@dinadesa.com</a>.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block bottombar %}
{% endblock bottombar %}
