{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Mobile Login
{% endblock title %}

{% block navbar %}
{# Remove login link to avoid confusion #}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id='nav-home' class="navbar-brand" href="{% url 'website:home' %}">Barberscore</a>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class='container'>
    <div class='page-header'>
      <h1>Mobile Login</h1>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <p class='lead'>Login with your mobile phone.</p>
        <form class='form-inline add-form' role='form' method='POST' novalidate>
          {% csrf_token %}
          <div class='form-group'>
            <input type="tel" class="form-control input-lg phone-num" name='mobile' pattern="\d*" x-autocompletetype="tel" placeholder="Mobile Phone" autofocus>
          </div>
          <button type='submit' class='btn btn-lg btn-primary'>Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block bottombar %}
{% endblock bottombar %}

{% block scripts %}
    <script src="{% static 'js/jquery.caret.js' %}"></script>
    <script src="{% static 'js/jquery.mobilePhoneNumber.js' %}"></script>
    <script>
      $('input.phone-num').mobilePhoneNumber({
        allowPhoneWithoutPrefix: '+1'
      });
    </script>
{% endblock scripts %}
