{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Quartets
{% endblock title %}

{% block content %}
  <div class='container'>
  <h2><a href="{% url 'website:all-quartets' %}">Quartets</a></h2>
  <h3>{{groups.count}} remaining</h3>
  <br><br>
    {% if groups %}
        {% for group in groups %}
          <ul class='list-unstyled'>
            <li><a href="{% url 'website:quartets' %}?page={{forloop.counter}}">{{group.name}}</a></li>
          </ul>
        {% endfor %}
    {% else %}
      <h1>No Duplicates!</h1>
    {% endif %}
  </div>
{% endblock content %}
