{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Choruses
{% endblock title %}

{% block content %}
  <div class='container'>
  <h2><a href="{% url 'website:all-choruses' %}">Choruses</a></h2>
  <br><br>
    {% if groups %}
      <nav class='pull-left'>
        <ul class="pager">
          {% if groups.has_previous %}
            <li><a href="?page={{ groups.previous_page_number }}">Prev</a></li>
          {% else %}
            <li class="disabled"><a href="#">Prev</a></li>
          {% endif %}
          {% if groups.has_next %}
            <li><a href="?page={{groups.next_page_number}}">Next</a></li>
          {% else %}
            <li class="disabled"><a href="#">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      <table class='table table-hover '>
        <tbody>
          {% for group in groups %}
            <tr>
              <td class='col-md-1'>
                <a href="{% url 'website:remove-group' group.id.hex %}{%if page%}?page={{page}}{%endif%}"><span class='fa fa-trash-o fa-2x' style="color:red"></span></a>
              </td>
              <td class='col-md-5'>
                <a href="{% url 'website:merge-groups' duplicate.parent.id.hex duplicate.child.id.hex %}{%if page%}?page={{page}}{%endif%}">{{group.name}}</a>&nbsp;<a target='_blank' href="{% url 'admin:api_group_change' group.id.hex %}"><span class='fa fa-external-link'></span></a>
              </td>
              <td class='col-md-5'>
                <a href="{% url 'website:merge-groups' duplicate.child.id.hex duplicate.parent.id.hex %}{%if page%}?page={{page}}{%endif%}">{{duplicate.child}}</a>&nbsp;<a target='_blank' href="{% url 'admin:api_group_change' duplicate.child.id.hex %}"><span class='fa fa-external-link'></span></a>
              </td>
            </tr>
            <tr>
              <td class='col-md-1'>
              </td>
              <td class='col-md-5'>
                <ul class='list-unstyled'>
                  <li>{{group.location|default:"<br>"}}</li>
                  <li>{{group.website|default:"<br>"}}</li>
                  <li>{{group.facebook|default:"<br>"}}</li>
                  <li>{{group.twitter|default:"<br>"}}</li>
                  <li>{{group.email|default:"<br>"}}</li>
                  <li>{{group.phone|default:"<br>"}}</li>
                  <li>{{group.chapter_name|default:"<br>"}}</li>
                  {% comment %}
                  {% if group.location %}<li>{{group.location}}</li>{% endif %}
                  {% if group.website %}<li>{{group.website}}</li>{% endif %}
                  {% if group.facebook %}<li>{{group.facebook}}</li>{% endif %}
                  {% if group.twitter %}<li>{{group.twitter}}</li>{% endif %}
                  {% if group.email %}<li>{{group.email}}</li>{% endif %}
                  {% if group.phone %}<li>{{group.phone}}</li>{% endif %}
                  {% if group.chapter_name %}<li>{{group.chapter_name}}</li>{% endif %}
                  {% endcomment %}
                </ul>
              </td>
              <td class='col-md-5'>
                <ul class='list-unstyled'>
                  <li>{{duplicate.child.location|default:"<br>"}}</li>
                  <li>{{duplicate.child.website|default:"<br>"}}</li>
                  <li>{{duplicate.child.facebook|default:"<br>"}}</li>
                  <li>{{duplicate.child.twitter|default:"<br>"}}</li>
                  <li>{{duplicate.child.email|default:"<br>"}}</li>
                  <li>{{duplicate.child.phone|default:"<br>"}}</li>
                  <li>{{duplicate.child.chapter_name|default:"<br>"}}</li>
                  {% comment %}
                  {% if duplicate.child.location %}<li>{{duplicate.child.location}}</li>{% endif %}
                  {% if duplicate.child.website %}<li>{{duplicate.child.website}}</li>{% endif %}
                  {% if duplicate.child.facebook %}<li>{{duplicate.child.facebook}}</li>{% endif %}
                  {% if duplicate.child.twitter %}<li>{{duplicate.child.twitter}}</li>{% endif %}
                  {% if duplicate.child.email %}<li>{{duplicate.child.email}}</li>{% endif %}
                  {% if duplicate.child.phone %}<li>{{duplicate.child.phone}}</li>{% endif %}
                  {% if duplicate.child.chapter_name %}<li>{{duplicate.child.chapter_name}}</li>{% endif %}
                  {% endcomment %}
                </ul>
              </td>
              </tr>
              <tr>
              <td class='col-md-1'>
              </td>
              <td class='col-md-5'>
                <ul class='list-unstyled'>
                {% for contestant in group.contestants.all %}
                  <li>{{contestant.name}}</li>
                {% endfor %}
                </ul>
              </td>
              <td class='col-md-5'>
                <ul class='list-unstyled'>
                {% for contestant in duplicate.child.contestants.all %}
                  <li>{{contestant.name}}</li>
                {% endfor %}
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1>No Duplicates!</h1>
    {% endif %}
  </div>
{% endblock content %}
