{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
<p class='lead'>
  When you are done adding performers, you can set the draw by clicking the "Draw" button below.  You will be able to make adjustments up through the official start of the contest.
</p>
    <a href='{% url "website:contest_draw" formset.instance.slug %}' class='btn btn-warning'>Draw</a>

<form method="post" action="">
    {% csrf_token %}
    {{formset.management_form}}
    {% for form in formset %}
      <div class='form-inline'>
        {{form}}
      <br><br>
      </div>
    {% endfor %}
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
</form>

      {% comment %}
      <h3>
        {{form.instance}}
      </h3>
      <form id='build' role='form' class='form' action="{% url 'website:contest_build' form.instance.slug %}" method='POST'>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group {% if field.errors %} has-error {% endif %}">
            {{field.label_tag}}{{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href='{% url "website:contest" form.instance.slug %}' class="btn btn-default pull-right">Cancel</a>
      </form>
      {% endcomment %}
    </section>
  </main>
{% endblock content %}
