{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
      <h3>
        {{contest}}
      </h3>
    </section>
    <section>
      <ol>
        <li><a href='{% url "website:contest_build" contest.slug %}'>Build</a></li>
        <li><a href='{% url "website:contest_imsession" contest.slug %}'>Imsession</a></li>
        <li><a href='{% url "website:contest_fill" contest.slug %}'>Fill</a></li>
        {# <li><a href='{% url "website:contest_draw" contest.slug %}'>Draw</a></li> #}
        {# <li><a href='{% url "website:contest_start" contest.slug %}'>Start</a></li> #}
        <ul>
          {% for round in rounds %}
            {# <li><a href='{% url "website:round_score" round.slug %}'>Score {{round.kind}}</a></li> #}
          {% endfor %}
        </ul>
        <li><a href='{% url "website:contest_end" contest.slug %}'>End</a></li>
        {# <li><a href='{% url "website:contest_confirm" contest.slug %}'>Confirm</a></li> #}
        {# <li><a href='{% url "website:contest_announce" contest.slug %}'>Announce</a></li> #}
      </ol>
    </section>
  </main>
{% endblock content %}
