{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
      <h3>
        {{form.instance}}
      </h3>
      <form id='build' role='form' class='form' action="{% url 'website:contest_build' form.instance.slug %}" method='POST'>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group {% if field.errors %} has-error {% endif %}">
            {{field.label_tag}}{{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href='{% url "website:contest" form.instance.slug %}' class="btn btn-default pull-right">Cancel</a>
      </form>
    </section>
  </main>
{% endblock content %}
