{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
      <h3>
        {{award}}
      </h3>
    </section>
    <section>
      <ol>
        <li><a href='{% url "website:award_build" award.slug %}'>Build</a></li>
        <li><a href='{% url "website:award_imsession" award.slug %}'>Imsession</a></li>
        <li><a href='{% url "website:award_fill" award.slug %}'>Fill</a></li>
        {# <li><a href='{% url "website:award_draw" award.slug %}'>Draw</a></li> #}
        {# <li><a href='{% url "website:award_start" award.slug %}'>Start</a></li> #}
        <ul>
          {% for round in rounds %}
            {# <li><a href='{% url "website:round_score" round.slug %}'>Score {{round.kind}}</a></li> #}
          {% endfor %}
        </ul>
        <li><a href='{% url "website:award_end" award.slug %}'>End</a></li>
        {# <li><a href='{% url "website:award_confirm" award.slug %}'>Confirm</a></li> #}
        {# <li><a href='{% url "website:award_announce" award.slug %}'>Announce</a></li> #}
      </ol>
    </section>
  </main>
{% endblock content %}
