{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
  <section>
    <h2>
      {{contest}}
    </h2>
    <h3>
      {{session}}
    </h3>
    <h4>
      {{performance}}
    </h4>
  </section>

<form method="post" action="">
    {% csrf_token %}
    {{formset1.management_form}}
    {% for form in formset1 %}
      <div class='form-inline'>
        {{form}}
      <br><br>
      </div>
    {% endfor %}
    <hr>
    {{formset2.management_form}}
    {% for form in formset2 %}
      <div class='form-inline'>
        {{form}}
      <br><br>
      </div>
    {% endfor %}
    <button type='submit' class='btn btn-success'>Submit</button>
</form>


  </main>
{% endblock content %}
