{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
      <form id='draw' role='form' class='form' action='' method='POST'>
        {% csrf_token %}
        <fieldset class='form-group'>
          <p><span class='fa fa-check-square-o'></span>&nbsp;Yes, set the initial draw for the award.</p>
        </fieldset>
        <button class='btn btn-danger' type='submit'>Draw</button>
        {# <a id='cancel' class="btn btn-default" href="{%url 'website:portfolio' portfolio.slug %}">Cancel</a> #}
      </form>

    </section>
  </main>
{% endblock content %}
