{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <main class="container">
    <section>
      <h3>
        {{award}}
      </h3>

      <h4>
        {{round}}
      </h4>

      <ul class='list-unstyled'>
      {% for performance in performances %}
        <li>{{performance.draw}} {{performance.contestant.group.name}}</li>
      {% endfor %}
      </ul>


      <form id='draw' role='form' class='form' action='' method='POST'>
        {% csrf_token %}
        <fieldset class='form-group'>
          <p><span class='fa fa-check-square-o'></span>&nbsp;Yes, start the award with these contestants.</p>
        </fieldset>
        <button class='btn btn-success btn-lg' type='submit'>Start</button>
        {# <a id='cancel' class="btn btn-default" href="{%url 'website:portfolio' portfolio.slug %}">Cancel</a> #}
      </form>

    </section>
  </main>
{% endblock content %}
