{% extends 'base.html'%}

{% block title %}
  Frequently Asked Questions
{% endblock title %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Frequently Asked Questions</h1>
    </div>

    <div class="row">
      <div class="col-md-8">

        <h4><a href='#' data-toggle='collapse' data-target='#faq-01'>Why did you create this?</a></h4>
        <p id='faq-01' class='collapse'>We just wanted a simple, mobile-optimized site to be able to easily track the contest and write notes on each performance (ie, a replacement for the paper program.)</p>

        <h4><a href='#' data-toggle='collapse' data-target='#faq-02'>Is there an iOS or Android version?</a></h4>
        <p id='faq-02' class='collapse'>No, there aren't dedicated apps.  However, you can access it quite easily through a web browser on either platform.  This is backed by a RESTful API, so if you know what that means and want to create an app then let us know and we'll send you a key!</p>

        <h4><a href='#' data-toggle='collapse' data-target='#faq-03'>Why do you need my mobile number?</a></h4>
        <p id='faq-03' class='collapse'>Using a mobile code is just much easier than trying to remember endless username/email/password combinations (particuarly for infrequently accessed sites like this one.)  Moreover, it's actually safer because there's no password to be lost or stolen!  We won't share your number or anything like that.  It's just a lot easier to handle than doing password resets, and email switching and all that other stuff that you do when you forget logins (which we all do.)  If you're overseas or otherwise can't receive texts, then send us an email at <a href='mailto:support@barberscore.com'>support@barberscore.com</a> and we'll try to figure something out.</p>

        <h4><a href='#' data-toggle='collapse' data-target='#faq-04'>I have a tablet or desktop; how do I access it without a mobile phone?</a></h4>
        <p id='faq-04' class='collapse'>You don't need to access the site from a mobile phone, but you do need some way to receive a text message to get your access code.  So just keep your phone nearby, and when the site sends you the code you can read it from your phone, and then enter it on the tablet/desktop and boom &mdash; you're in.</p>


      </div><!--/col-grid-->
    </div><!-- /row-->
  </div><!-- /container -->

{% endblock content %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer%}
