{% extends 'base.html' %}


{% block title %}
    Barberscore
{% endblock title %}

{% block navbar %}
<div id="home-lead">
      {% include '_nonav.html' %}

{% endblock navbar %}

{% block content %}
  <div class="container">
    <div class="jumbotron" id='foobar'>
      <h1>Thank You!</h1>
      <p>We hope you enjoyed using Barberscore during this amazing convention.  We'll be shutting the site down soon, but if anyone is interested in using it for things like district conventions the source code is available at <a href='http://github.com/dbinetti/barberscore'>http://github.com/dbinetti/barberscore</a></p>
      <p class ='lead'>And a <strong>very</strong> special thank you to Alexander Boltenko of the Heralds of Harmony who kept all the information up to date.  Amazing!</p>
      <h2>See you next year!</h2>
    </div>
  </div>
{% endblock content %}


{% block footer %}
  {% include '_footer.html' %}
</div>
{% endblock footer%}
