
h1, h2, h3, h4, h5, h6, a, p, body, span {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  margin-top: 100px;
}

.table tbody>tr>td.vert-middle{
    vertical-align: middle;
}

#circleNums {
    border:1px solid red;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
}

.project-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
