{% extends "easy_pdf/base.html" %}
{# {% extends 'base.html' %} #}

{% load humanize %}

{% block layout_style %}
  <style type="text/css">
      @page {
          size: letter portrait;
          margin-left: 1cm;
          margin-right: 1cm;
          margin-top: 1cm;
          margin-bottom: 1cm;
          @frame header {
              -pdf-frame-content: page-header;
              margin-top: 0.7cm;
              margin-right: 2mm;
              margin-bottom: 0cm;
              margin-left: .5cm;
          }
          @frame footer {
              -pdf-frame-content: page-footer;
              bottom: 0cm;
              margin-left: .5cm;
              margin-right: 2mm;
              height: 1cm;
          }
      }
  </style>
{% endblock layout_style%}

{% block extra_style %}
  <style>
    table {
        border-collapse: collapse;
        padding: 2px;
        border-bottom: 1px;
    }
    table, td {
        border: .5px solid black;
        vertical-align: top;
        line-height: 1px;
    }
  </style>
{% endblock extra_style %}

{% block page_header %}
  <div id='page-header'>
    <h4>
      Official Scoring Summary: {{contest}}<br>
    </h4>
  </div>
{% endblock page_header %}

{% block content %}
  <div id='content'>
    <div class='main'>
      <table repeat='1'>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Total</th>
            <th>Group</th>
            <th>Song</th>
            <th>MUS</th>
            <th>PRS</th>
            <th>SNG</th>
            <th>TotS</th>
            <th>M%</th>
            <th>P%</th>
            <th>S%</th>
            <th>T%</th>
          </tr>
        </thead>
        <tbody>
          {% for contestant in contestants %}
              <tr>
                <td style='vertical-align:top; width:1.2cm; text-align:right' >
                  {{contestant.place}}
                </td>
                <td style='vertical-align:top; width:2.0cm; text-align:right' >
                  {{contestant.total_points}}<br>
                  {{contestant.total_score}}
                </td>
                <td style='width:10cm; text-align:left' >
                  {{contestant.group.name}}
                </td>
                <td style='vertical-align:top; width:20cm; text-align:left' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.tune.name}}<br>
                    {% endfor %}
                  {% endfor %}
                  {# <em>Totals</em> #}
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.mus_points}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.mus_points}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.prs_points}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.prs_points}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.sng_points}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.sng_points}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.total_points}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.total_points}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.mus_score}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.mus_score}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.prs_score}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.prs_score}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.sng_score}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.sng_score}}</em><br>
                </td>
                <td style='vertical-align:top; width:2cm; text-align:right' >
                  {% for performance in contestant.performances.all %}
                    {% for song in performance.songs.all %}
                      {{song.total_score}}<br>
                    {% endfor %}
                  {% endfor %}
                    <em>{{contestant.total_score}}</em><br>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% comment %}
      <h4>Awards</h4>
      <ul class='list-unstyled'>
      {% for ranking in rankings %}
        <li>{{ranking.award.name}}: {{ranking.contestant.group.name}}</li>
      {% endfor %}
      </ul>
      {% endcomment %}
      {% comment %}
      <h4>Panelists</h4>
      <div class='table-responsive'>
      <table class='table'>
      {% regroup panelists by get_category_display as panelists_list %}
      <tbody>
      {% for get_category_display in panelists_list %}
      <tr>
        {% for panelist in get_category_display.list %}
          <td>{{panelist.person.name}}, {{panelist.designation}}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
      </table>
      {% endcomment %}
    </div>
  </div>
{% endblock content %}

{% block page_foot %}
  <small>Page <pdf:pagenumber> of <pdf:pagecount></small>
{% endblock page_foot %}
