{% extends 'base.html' %}


{% block title %}
<title>
    Update Profile
</title>
{% endblock title %}

{% block content %}
    <div class="container">

    <p>
    Update your profile to add your name and/or nickname.  While we don't currently do anything with your name, your predictions will be listed under your nickname.</p>

<form action = "{% url 'profile' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
</div>
{% endblock content %}